<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheet/style.css" />
  </head>
  <body>
    <div class="menu">
      <a href="/" >Home</a> 
        <a href="/about" class="active">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
      </div>
    <h1>The Beatles</h1>
    <hr />
    <article class="section1">
      <img src="/images/beatles-young.jpeg" />
      <div class="content">
        The Beatles were an English rock-pop band, started in Liverpool, England
        in 1960. The members were John Lennon, Paul McCartney, George Harrison,
        and Ringo Starr. Most people say they are the most successful and
        influential band in the history of popular music.[1] The group were a
        main part of the creation of 1960s counterculture. They began as a
        skiffle and beat band and were influenced by 1950s American rock and
        roll. In their later years the band became experimental with genres such
        as different types of rock, avant-garde music and orchestral music. Some
        credit songs such as Helter Skelter and I Want You (She's So Heavy) as
        being the origins of metal and punk music. Many bands look at the
        Beatles as influential with their music throughout their 10 years. Their
        main songwriters were Lennon and McCartney. Before The Beatles became
        popular, they played in clubs in Liverpool and Hamburg over three years
        between 1960 and 1963, with Stuart Sutcliffe playing bass. They went
        through many drummers, including Pete Best, before finally asking Ringo
        Starr to join in 1962. Sutcliffe also quit, meaning Paul McCartney
        started playing the bass instead. Brian Epstein was their manager and
        George Martin produced most of their music. Their first single was "Love
        Me Do", in late 1962. It was a hit and they became popular in the United
        Kingdom. As they became more popular, the press called the popularity
        "Beatlemania". By 1964, the Beatles were worldwide stars and led the
        "British Invasion" of the United States. They brought out some of the
        best-selling albums of the 1960s, with twelve studio albums. They
        broke-up in 1970. John Lennon was later murdered in New York City in
        1980 and George Harrison died of lung cancer in 2001. McCartney and
        Starr still make music.
      </div>
    </article>
  </body>
</html>