<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Beatles</title>
    <link rel="stylesheet" href="./stylesheet/style.css" />
  </head>
  <body>
    
    <div class="menu">
    <a href="#" class="active">Home</a> 
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/gallery">Gallery</a>
    </div>
    <img src="/images/beatles.jpg" alt="The Beatles" class="home-page-img">
  </body>
</html>
