<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheet/style.css" />
  </head>
  <body>
    <div class="menu">
      <a href="/" >Home</a>
      <a href="/about">About</a>
      <a href="/works" class="active">Works</a>
      <a href="/gallery">Gallery</a>
    </div>
    <div>
      <img src="/images/home-img.jpeg" alt="Albun" class="home-page-img">
      <p>
        The Beatles discography
From Wikipedia, the free encyclopedia
Jump to navigationJump to search
For the discographies of individual members of the Beatles, see John Lennon discography, Paul McCartney discography, George Harrison discography, and Ringo Starr discography.
The Beatles discography
A photograph of each of the Beatles: John Lennon, Paul McCartney, Ringo Starr and George Harrison
The Beatles in 1963
Studio albums	12 (UK), 17 (US)
Live albums	6
Compilation albums	54
Video albums	22
Music videos	68
EPs	36
Singles	63
Mash-ups	2
Box sets	17
Worldwide, the English rock band the Beatles released 12 studio albums (17 in the US), 6 live albums, 54 compilation albums, 36 extended plays (EPs), 63 singles, 17 box sets, 22 video albums and 68 music videos. In their native United Kingdom, they released 12 studio albums, 13 extended plays (EPs), including one double EP, and 22 singles. The early albums and singles released from 1962 to 1967 were originally on Parlophone, and their albums and singles from 1968 to 1970 were on their subsidiary label Apple. Their output also includes vault items, remixed mash-ups and anniversary box-sets.

With the first CD releases of their albums in 1987, the Beatles' core catalogue was harmonised worldwide to encompass their original UK studio albums released in 1963–1970, the 1967 US Magical Mystery Tour LP and the Past Masters compilation, the latter two of which include the recordings released from 1962–1970 that are not present on the UK albums (mainly non-album singles and B-sides). Since then, other past releases have been reissued in digital formats and on vinyl. The catalogue is currently distributed by Universal Music Enterprises' Calderstone Productions. This core catalogue contains all 219 tracks[1] intended for commercial release, either as album tracks or singles, that were put out by the Beatles from 1962–1970.[2]

The Beatles' international discography is more complicated due to different versions of their albums sometimes being released in other countries, particularly during their early years on Capitol Records in North America. Prior to 1967, it was common practice for British releases to be reconfigured for the American market. The first seven British Beatles albums were converted into ten LPs for the American market, adding material from singles and the UK EPs. With the exception of Magical Mystery Tour, studio releases from Sgt. Pepper's Lonely Hearts Club Band in 1967 forward were uniform in both the UK and the US. The band's first eight albums were released on Parlophone. From 1968, in both the UK and the US, starting with the single "Hey Jude" and the album The Beatles (better known as "the White Album"), new releases appeared on the Beatles' own Apple record label, although Parlophone and Capitol catalogue numbers continued to be used for contractual reasons.

The Beatles' discography was originally released on the vinyl format, with full-length long plays (LPs), shorter EPs and singles. Over the years, the collection has also been released on cassette, 8-track, compact disc (CD), on a USB flash drive in MP3 and 24-bit FLAC format, and on digital media streaming services. The Beatles' UK discography was first released on CD in 1987 and 1988. Between 1962 and 1968, the Beatles released their songs in both mono and stereo versions.[3] The band's catalogue was remastered in both mono and stereo in 2009. [4][5]
      </p>
    </div>
  </body>
</html>